.movie-card-image {
  width: 100%;
  max-width: 230px;
  height: 280px;
}
.label {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  padding-bottom: 30px;
}

.movie-title {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #032541;
}

.movie-rating {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #83cca6;
}
